nav{
    background-color: cornflowerblue;
    border: black solid 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first{
    display: flex;
    margin-bottom: 45px;
    align-items: center;
    justify-content: space-between;
}

.first p{
    margin-right: 30px;
}

.correcture{
    width: 88px;
}

.containerwarenkorb{
    width: 88px;
}

.title{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    color: black;
    padding-left: 10px;
}

h3{
    padding-right: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.area, .textarea{
    margin-left: 5px;
    width: 100%;
}

textarea{
    height: 150px;
}

.feedback {
    display: flex; 
    height: 40px;
}

.textarea1{
    display: flex;
    margin-top: 10px;
 }

.posa{
    justify-content: flex-end;
    text-align: end;
    margin-right: 20px;
}

.posb{
    margin-left: -10px;
    justify-content: space-between;
    margin-right: 10%;
}

.posd{
    justify-content: flex-end;
    text-align: end;
    margin-right: 20px;
    flex: 1;
    margin-top: -15px;
}

.posc{
    justify-content: space-between;
    margin-right: 10%;
    flex-direction: column;
}

.posa, .posb, .posc{
    flex: 1;
    display: flex; 
    align-items: center; 
}

.send{
    margin-left: 89%;
}

.headindex a{
    text-decoration: none;
    font-size: 0.75em;
}

.headlinks a{
    margin-right: 15px;
}

body{
    border-style: solid;
    font-family: cursive;
}

footer{
    background-color: cornflowerblue;
    padding: 5px 20px;
    border-style: solid;
    font-family: cursive;
    margin-top: 30px;
}

.choice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.opportunity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.size{
    width: 350px;
}

.sizes h3{
    margin-top: 2px;
    margin-bottom: 2px;
}

.size p{
    text-overflow: clip;
}

.sizes{
    width: 300px;
    height: 350px;
    margin-bottom: 25px;
}

.pos1{
    justify-content: flex-start;
    width: 200%;
}

.pos2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.choice p{
    margin-left: 0;
    margin-top: 4px;
}

.indeximg{
    width: 400px;
    height: 275px;
}

.foodimg{
    width: 350px;
    height: 225px;
}

.saladimg{
    width: 300px;
    height: 250px;
}

.cart{
    width: 18%;
    height: auto;
}

.liste{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}

.liste a{
    text-decoration: none;
}

.liste img{
    width: 250px;
    height: 175px;
}

.orderpossibilitys{
    position: relative;
}

.orderpossibilitys img{
    display: block;
    max-width: 100%;
}

.orderpossibilitys a {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-decoration: none;
    color: white; 
    white-space: nowrap;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.cartButton {
    background-image: url('Images/shoppingcart.png');
    background-color: white;
    background-size: cover;
    width: 30px;
    height: 30px; 
    border: none; 
    cursor: pointer; 
}